{% include 'include/header.html' %}


{% load static %}

<!--banner section start here-->
<section class="not_found_page">
    <div class="not_found_row">
        <div class="not_center">
            <div class="not_img"><img src="/static/frontend/images/404.png" alt=""></div>
            <div class="ops_text">
                <h2>ooops...</h2>
                <p>We were unable to find the page you are looking for.</p>
            </div>
        </div>
    </div>
</section>
<!--body end here-->

{% include 'include/footer.html' %}
